body{
  padding-top: 100px;
  padding-left: 450px;
  padding-right: 450px;
}

#root{
  width: 600px;
}

.icons{
  height: 35px;
  width: 30px;
}

.board-style{
  display: flex;
  flex-direction: column ;
  width: 550px;
  align-items: center;
  justify-content: center;
}

.board-row-style{
  display: flex;
  flex-direction: row;
}


.tile-style-wood{
  display: flex;
  width: 50px;
  height: 50px;
  /* border-color: brown; */
  /* border-style:none;
  border-width: 1px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
} 

.tile-style-white{
  display: flex;
  width: 50px;
  height: 50px;
  /* border-color: brown; */
  /* border-style: solid;
  border-width: 1px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
} 

.tile-style-white:hover{
  /* background-color: rgb(239,220,195); */
  background-color: rgb(255, 213, 158); 
  cursor: pointer;
}

.tile-style-wood:hover{
  /* background-color: rgb(239,220,195); */
  background-color: rgb(255, 213, 158); 
  cursor: pointer;
}

.tile-style-white.active{
  /* background-color: rgb(255,240,220);  */
  background-color: rgb(265, 243, 178); 
  cursor: pointer;
}

.tile-style-wood.active{
  /* background-color: rgb(215, 171, 109); */
  background-color: rgb(245, 204, 134); 
  cursor: pointer;
}

.turn{
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  width: 550px;
  align-items: center;
  justify-content: center;
}